include ../elements/meta
include ../elements/scripts
include ../elements/navigation

doctype html
html(lang='ru')
    head
        +meta
    body
        +navigation

        .container.mb-5
            .row
                .col-12.text-center
                    img.card.card-img.mb-4(src='avatar/' + user.username + '.jpg' style='max-width: 256px; max-height: 256px; display: inline-block;')
                    h5 #{user.fullName}
                    p.mb-3 #{user.username}

                    if user.description
                        p #{user.description}

            hr

            if user.job
                .row.mb-2
                    .col-6.text-right
                        strong Рабочая сфера
                    .col-6.text-left
                        span #{user.job}

            if user.family
                .row.mb-2
                    .col-6.text-right
                        strong Семейное положение
                    .col-6.text-left
                        span #{user.family}

            if user.interesting
                .row.mb-2
                    .col-6.text-right
                        strong Интересы
                    .col-6.text-left
                        span #{user.interesting}

            hr.mb-4

            if isCurrentUser
                .row.justify-content-center.mt-1
                    .col-6.text-center
                        a.btn.btn-primary.btn-sm(href='editProfile?token=' + user.token) Редактировать
            else
                .row.justify-content-center
                    .col-6.text-center
                        a.btn.btn-primary(href='#') Написать
                    
        +scripts