include ../elements/meta
include ../elements/scripts
include ../elements/navigation

doctype html
html(lang='ru')
    head
        +meta
    body
        +navigation

        .container.mb-5
            .row.justify-content-center
                .col-10
                    form(action='reverse?token=' + user.token method='POST')
                        p
                            strong.mr-1 Знакомство наоборот
                            span.
                                - это особый неформальный способо общения
                                который был позаимствован у игры Friend Zone, если вы уже
                                играли в эту игру - просто жмите кнопку, напарники формируются
                                каждые сутки.

                        if registered
                            .card.card-body.mt-4
                                i.text-center Вы успешно записаны! Напарник появится на ближайшем распределении...
                        else
                            p.text-center.mt-5
                                button.btn.btn-primary(type='submit') Записаться

            .row.justify-content-center
                .col-10
                    hr.mt-5
                    p.text-center
                        button.btn.btn-primary.btn-sm(
                            type='button'
                            data-toggle='collapse'
                            data-target='#description'
                            aria-expanded='false'
                            aria-controls='description'
                        ) Описание

                    #description.collapse.mt-3
                        div
                            i Копия части текста из игры Friend Zone...

                            p.mt-3
                                strong.mr-1 (Про что)
                                span.
                                    Как новый знакомый становится другом? Вы узнаёте имена друг друга,
                                    задаете пару вопросов про работу и хобби, встречаетесь несколько раз, больше
                                    узнаете друг о друге, что-то еще…какая-то магия… И вот, наконец, вы становитесь
                                    настолько близки, что можете открыто обсуждать самые важные и, возможно,
                                    личные вопросы.
                                    Давай попробуем пропустить стандартное начало общения и посмотрим, что из
                                    этого получится?
                            p
                                strong.mr-1 (Задание)
                                span.
                                    Бот выдаст тебе напарника. Ваша задача — встретиться (или
                                    созвониться) и пообщаться так, чтобы после встречи не понимать, чем собеседник
                                    занимается, увлекается, но получить полное представление о том, какой она или он
                                    прекрасный и интересный человек. Что его или ее волнует, расстраивает,
                                    будоражит, вызывает опасения, радует. Говорите друг о друге — какой новый опыт
                                    вы получили за этот год, чему научились, какие необычные ощущения и
                                    переживания испытали, каких людей встретили.
                                    Постарайся не задать ни одного стандартного при знакомстве вопроса: работа,
                                    семья, образование, учеба, увлечения, погоду, путешествия, досуг.
                                    Если вы оба не против, можете даже не представляться, а сразу придумать друг
                                    другу милые прозвища. И незамедлительно перейти к обсуждению тем, которые
                                    откроют вас друг для друга.
                            p
                                strong.mr-1 (Подсказки)
                                span.
                                    Проявляй такт и чуткость. Разговор должен быть приятен вам обоим.
                                    Ты можешь отказаться обсуждать какой-то вопрос, если он тебе некомфортен.
                                    Если собеседник не хочет обсуждать какую-то тему, отнесись к этому с
                                    пониманием и предложи другую.
                                    Вы обсуждаете важные и личные вещи. Пусть ваш разговор останется
                                    приватным.
                                    Если один из вас почувствовал, что такой формат общения некомфортен, просто
                                    перейдите к более привычному варианту знакомства.

                            p Примеры вопросов для обсуждения:
                            ul
                                li Что тебя обрадовало за последнее время?
                                li Что было для тебя испытанием в жизни?
                                li Каким своим достижением ты гордишься?
                                li За что ты себя хвалишь? Легко ли тебе хвалить себя? А хвалить других?
                                li Было ли у тебя какое-то сильное переживание недавно? Поделись им.
                                li Какие у тебя планы на эту жизнь?
                                li Твой самый запомнившийся провал — что это было?
                                li Что тебя смешит?
                                li Что ты считаешь красивым? Как ты находишь это и где?
                                li Что самое необычное ты делал(а)?
                                li Что для тебя вызов сейчас?
                                li Что нового появилось в твоем быту за последнее время?
                                li Что ты уже успел(а) сделать важного для себя в этом году?
                                li Если бы можно было мгновенно, навсегда и без побочных эффектов убрать одно
                                li препятствие из своей жизни, жизни любого другого человека или всех людей
                                li вообще, что бы ты убрал(а)?
                                li За что тебе бывает стыдно?
                                li Как выглядит отдых твоей мечты?
                                li.
                                    Что бы ты делал(а), если бы твои базовые финансовые потребности были
                                    обеспечены безусловным базовым доходом?

        +scripts