include ../elements/meta
include ../elements/scripts
include ../elements/navigation

doctype html
html(lang='ru')
    head
        +meta
    body
        +navigation

        .container
            .row
                .col-12
                    form(
                        action='search?token=' + user.token
                        method='POST'
                    )
                        .input-group.mb-5
                            input.form-control(
                                name='search'
                                type='text'
                                placeholder='Поиск по профилям'
                                aria-label='Поиск по профилям'
                                aria-describedby='Поиск по профилям'
                                value=search
                            )
                            input(type='hidden' name='skip' value=0)
                            input(type='hidden' name='limit' value=20)
                            .input-group-append
                                button.btn.btn-primary(type='submit') Найти

                    if !result
                        p: i Можно даже найти эксперта в какой-то области, который вам поможет. Ну или просто друзей.

                    if result && result.length === 0
                        p: i Похоже ничего не найдено, попробуйте иначе...

        .container
            if result
                for person in result
                    .row
                        .col-3
                            img.card.card-img.mb-1(
                                src!=person.avatar
                                style='min-width: 64px; min-height: 64px; max-width: 64px; max-height: 64px; display: inline-block;'
                                onerror='this.src = "./default-avatar.jpg";'
                            )
                        .col-6
                            h5=person.fullName
                            p.mb-3 @#{person.username}
                        .col-3.text-right.align-self-top
                            a.btn.btn-primary(href='profile?username=' + person.username + '&token=' + user.token) >>

            if result && result.length > 0
                .row.mb-5.mt-5
                    .col-12.text-center
                        form(
                            action='search?token=' + user.token
                            method='POST'
                        )
                            input(type='hidden' name='skip' value=skip + 20)
                            input(type='hidden' name='limit' value=limit)
                            input(type='hidden' name='search' value=search)
                            button.btn.btn-primary(type='submit') Найти ещё

        +scripts